landingai-ade
pydantic
nest-asyncio
pandas
numpy
matplotlib
python-dotenv

# Core
fastapi
uvicorn[standard]
python-dotenv
pydantic
pydantic-settings

# LangChain & LangGraph
langgraph
langchain
langchain-community
langchain-chroma
langchain-huggingface

# Embeddings
sentence-transformers

# Vector DB
chromadb

# Utilities
tiktoken
loguru
pypdf  # fallback if needed

# For DeepSeek & OpenAI
openai
langchain-openai
langchain-huggingface
transformers
torch

# For optional Neo4j (later)
# neo4j>=5.24.0